<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" class="example-sidenav dark-theme-container" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true"
    (mouseenter)="increase()" (mouseleave)="decrease()">
    <div style="margin:10px;padding:10px;">
      <h6 style="font-size:18px;">Annotate</h6>
    </div>
    <mat-nav-list>
      <p  mat-list-item  class="header-list"> Tools </p>
        <div> <a  class="items-list" mat-list-item style="margin-left:15px;"  routerLink='/about'><mat-icon style="margin-right:10px;">home</mat-icon>About</a></div>
        <div><a class="items-list" mat-list-item style="margin-left:15px;"  routerLink='/categorization'><mat-icon style="margin-right:10px;">view_list</mat-icon>Categorization of a case</a></div>
        <div><a class="items-list" mat-list-item  style="margin-left:15px;"  routerLink='/summarization'><mat-icon style="margin-right:10px;">list_alt</mat-icon>Summarization of a case</a></div>
        <div><a class="items-list" mat-list-item style="margin-left:15px;"  routerLink='/case-category'><mat-icon style="margin-right:10px;">toc</mat-icon>Category of a case</a></div>
       <div style="border-bottom: 1px solid #404854;"><a class="items-list" mat-list-item style="margin-left:15px;"  routerLink='/annotate'><mat-icon style="margin-right:10px;">toc</mat-icon>Annotation Tool</a></div>

    </mat-nav-list>
  </mat-sidenav>
  <div class="example-sidenav-content ">
    <nav class="navbar  navbar-expand-lg navbar-light bg-light " style=" color:#F7F9FB!important;
   background-color:#31708e!important">
      <mat-icon style="margin-right:20px;" (click)="sidenav.toggle()" class="sidenav-menu">menu</mat-icon>
      <a style=" color:#F7F9FB!important;" class="navbar-brand" href="#">Annotex</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a style="    border-bottom: 1px solid #404854;" class="nav-link" routerLink="/home" style="color:#8FC1E3">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
<!-- Footer -->

<footer class="page-footer  " style="    padding-bottom: 10px;font-size:16px;background-color:#e0e0e0;color:grey;">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-4" style="font-size:13px!important;">
    AI Legal Assistant
    <!--<a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>-->
  </div>
  <!-- Copyright -->
</footer>